/* src/components/Footer.css */
.footer {
    background-color: #f80000; /* Fondo rojo */
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  