.navbar {
    background-color: red; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold; 
    text-decoration: none;
    text-transform: uppercase; 
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    display: inline-block;
  }
  
  .navbar-link {
    color: white; 
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem; 
    font-weight: bold; 
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
    text-transform: uppercase; 
  }
  
  .navbar-link:hover {
    background-color: rgb(255, 255, 255); 
    color: rgb(255, 0, 0); 
  }
  


  

  

  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      gap: 10px;
    }
  
    .navbar-link {
      display: block;
      text-align: center;
    }
  }
  

  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar-menu {
      flex-direction: row;
      gap: 15px;
    }
  
    .navbar-link {
      font-size: 1.1rem; 
    }
  }
  

  @media (min-width: 1024px) {
    .navbar-menu {
      flex-direction: row;
      gap: 20px; 
    }
  
    .navbar-link {
      font-size: 1.2rem; 
    }
  }
  

  @media (min-width: 1500px) {
    .navbar-menu {
      gap: 30px; 
    }
  
    .navbar-link {
      font-size: 1.3rem; 
    }
  }
  